/* external style */

body {
   font-size: 18px;
   margin: 0;
}

#divclass {
   margin: 20px;
   padding: 20px;
}

img {
   width: 20%;
   margin-left: auto;
   margin-right: auto;
   display: block;
}

#img_title {
   text-align: center;
}


#img_container {
   height: 500px;
   background-color: burlywood;
}

table {
   border-collapse: collapse;
}


table {
   border-collapse: collapse;
}

table,
td,
th {
   border: 1px solid black;
}